.input1 {
    border-bottom: 1px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    width: 80%;
}
.form1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.loginHolder {
    width: 25%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: #ffffff;
    border: 0px solid black;
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.71px 0.71px 21px rgba(77, 58, 58, 0.27);
    opacity: 1;
    padding: 20px;
}
.input2 {
    border: 2px solid black;
    border-top: 0px solid black;
}
.header1 {
    width: 100%;
    font-size: 40px;
}
.input3 {
    background-color: #7a3041;
    color: #ffffff;
    border: 2px solid #7a3041;
    border-radius: 6px;
    width: 50%;
    height: 10%;
}
.img1 {
    align-content: start;
    width: 80%;
}
.div1 {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #f7f7f7;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
